#Blinkit_top {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

#blink {
    color: #F8CB46;
}

#it {
    color: #318616;
}

.nav-links {
    display: inline-block;
    vertical-align: middle;
}

.nav-links p {
    display: inline;
    margin-right: 20px;
}

.search_id {
    display: inline-block;
    vertical-align: middle;
    margin-left: 120px;
}

.search_id label {
    font-size: 18px;
}

#cartid {
    margin-left: 400px;
    float: right; /* Float the cart link to the right */
    margin-top: 10px; /* Adjust vertical alignment */
    background-color: rgb(130, 223, 9);
    color: whitesmoke;
    font-size: 30px;
}

#search_id {
    width: 300px;
    height: 40px;
    font-size: 18px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container figure {
    width: calc(14.2857% - 10px);
    margin-bottom: 20px;
}

.image-container figure img {
    width: 100%;
    height: auto;
}

.image-container figure figcaption {
    text-align: center;
}
